---
name: main
# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  install:
    name: Install Python
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Python
        uses: fernandopasik/actions/setup-python@main

  check-format:
    name: Check Format
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: experimental-features = nix-command flakes
      - name: Setup Python
        uses: fernandopasik/actions/setup-python@main
      - name: Check Format
        run: make format

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: experimental-features = nix-command flakes
      - name: Setup Python
        uses: fernandopasik/actions/setup-python@main
      - name: Lint
        run: make lint

  check-nix:
    name: Check Nix
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: experimental-features = nix-command flakes
      - name: Setup Python
        uses: fernandopasik/actions/setup-python@main
      - name: Check Nix
        run: make check
